<h3><%= board.get('title') %></h3>
<ul class="board-show group">
  <% (board.lists().each( function (list) { %>
    <li class="lists"><%= list.escape("title") %>
      <ul class="cards">
        <% (list.cards().each( function (card) { %>
          <li>
            <%= card.escape("title") %>: <%= card.escape("description") %>
          </li>
        <% })) %>
      </ul>
    </li>
  <% })) %>
</ul>


<button class="delete-board" data-id="<%= board.get("id") %>">Delete Board</button>

<div id="new-list">
  <button class="create-list-form">Create New List</button>
</div>
